<h1>Genereate URL</h1>

<table align="center">
  <thead style="padding-right:15px">
    <tr>
      <th>Url Name</th>
      <th>Prees button to change</th>
      <th>Changed URL Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @genereate_urls.each do |genereate_url| %>
      <tr>
        
        <td><%= text_area_tag(:url_name, "",size: "24x2") %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<%= button_tag ("Chane URL"), :onclick=> "create_short_url();" ,:class=> 'btn btn-success create_url'%></td>
        <td><div><%= text_area_tag(:new_url_name, "",size: "24x2") %></div></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>



<script type="text/javascript"> 

  function create_short_url(){
   var url_name = ($('#url_name').val())
   $.ajax({
      dataType: 'JSON',
      type: "POST",
      url: "/genereate_urls/genereate_short_url/",
      data:{url_name: url_name},
       success: function(data) {
        $('#new_url_name').val("http://localhost:4000/" + data.unique_key +" ");
      }
   })
  }


</script>

