<p id="notice"><%= notice %></p>

<p>
  <strong>Url name:</strong>
  <%= @genereate_url.url_name %>
</p>

<%= link_to 'Edit', edit_genereate_url_path(@genereate_url) %> |
<%= link_to 'Back', genereate_urls_path %>
